 python>=3.9
 pip
 dateparser
 dask>=1.0
 dask-jobqueue>=0.3
 geopandas
 gdal>=3
 isce3
 lxml
 matplotlib
 mintpy
 netcdf4
 numpy
 pandas
 pillow
 pysolid
 pypdf2
 pyproj
 rasterio
 ruamel.yaml
 scipy
 yamale
 # for testing and distribution
 flake8
 flake8-import-order
 flake8-blind-except
 flake8-builtins
 ipykernel
 ipympl
 jsonschema==3.2.0
 jupyter
 packaging
 papermill
 pytest
 pytest-cov
 pdfkit
 setuptools
 setuptools_scm
